Package: com.rpetrich.switchicons
Name: Switchicons
Version: 1.0.1~beta1
Architecture: iphoneos-arm
Description: Switches as home screen icons
Maintainer: BigBoss <bigboss@thebigboss.org>
Author: Ryan Petrich <rpetrich+switchicons@gmail.com>
Depends: mobilesubstrate, firmware (>= 5.0), com.a3tweaks.flipswitch (>= 1.0.1~beta3), preferenceloader (>= 2.2), com.chpwn.iconsupport (>= 1.6)
Section: Tweaks
Website: http://rpetri.ch/cydia/switchicons/
Depiction: http://rpetri.ch/cydia/switchicons/
Icon: file:///Applications/Preferences.app/icon-table.png
dev: rpetrich
